<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_iAccess" />
                <binding name="BasicHttpBinding_iAccess_001" />
                <binding name="BasicHttpBinding_iGestione" />
                <binding name="BasicHttpBinding_iGestione_001" />
                <binding name="BasicHttpBinding_iElenchi" />
                <binding name="BasicHttpBinding_iElenchi_001" />
                <binding name="BasicHttpBinding_iElenchi1" />
                <binding name="BasicHttpBinding_iElenchi_0011" />
                <binding name="BasicHttpBinding_iElenchi_002" />
                <binding name="BasicHttpBinding_iGestione1" />
                <binding name="BasicHttpBinding_iGestione_0011" />
                <binding name="BasicHttpBinding_iCommerce" />
                <binding name="BasicHttpBinding_iCommerce_001" />
                <binding name="BasicHttpBinding_iReport" />
                <binding name="BasicHttpBinding_iReport_001" />
                <binding name="BasicHttpBinding_iReport_002" />
                <binding name="BasicHttpBinding_iDocumenti" />
                <binding name="BasicHttpBinding_iFirmaDigitale" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsAccesso.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iAccess"
                contract="wsAccesso.iAccess" name="BasicHttpBinding_iAccess" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsAccesso.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iAccess_001"
                contract="wsAccesso.iAccess_001" name="BasicHttpBinding_iAccess_001" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iGestione"
                contract="wsAnagrafica.iGestione" name="BasicHttpBinding_iGestione" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iGestione_001"
                contract="wsAnagrafica.iGestione_001" name="BasicHttpBinding_iGestione_001" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iElenchi"
                contract="wsAnagrafica.iElenchi" name="BasicHttpBinding_iElenchi" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iElenchi_001"
                contract="wsAnagrafica.iElenchi_001" name="BasicHttpBinding_iElenchi_001" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsListini.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iElenchi1"
                contract="wsListini.iElenchi" name="BasicHttpBinding_iElenchi1" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsListini.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iElenchi_0011"
                contract="wsListini.iElenchi_001" name="BasicHttpBinding_iElenchi_0011" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsListini.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iElenchi_002"
                contract="wsListini.iElenchi_002" name="BasicHttpBinding_iElenchi_002" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsListini.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iGestione1"
                contract="wsListini.iGestione" name="BasicHttpBinding_iGestione1" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsListini.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iGestione_0011"
                contract="wsListini.iGestione_001" name="BasicHttpBinding_iGestione_0011" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsCommerce.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iCommerce"
                contract="wsCommerce.iCommerce" name="BasicHttpBinding_iCommerce" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsCommerce.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iCommerce_001"
                contract="wsCommerce.iCommerce_001" name="BasicHttpBinding_iCommerce_001" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsCommerce.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iReport"
                contract="wsCommerce.iReport" name="BasicHttpBinding_iReport" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsCommerce.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iReport_001"
                contract="wsCommerce.iReport_001" name="BasicHttpBinding_iReport_001" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsCommerce.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iReport_002"
                contract="wsCommerce.iReport_002" name="BasicHttpBinding_iReport_002" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsCommerce.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iDocumenti"
                contract="wsCommerce.iDocumenti" name="BasicHttpBinding_iDocumenti" />
            <endpoint address="http://zitacatest01.gymgest.it:9130/wsCommerce.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_iFirmaDigitale"
                contract="wsCommerce.iFirmaDigitale" name="BasicHttpBinding_iFirmaDigitale" />
        </client>
    </system.serviceModel>
</configuration>